@import "../../styles//variables.scss";

.header {
	background-color: $background-color;
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 86px;
		max-width: 100%;
		height: 110px;
		padding-top: 18px;
	}
	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		&--line {
			width: 50px;
			height: 3px;
			background-color: $primary-color;
			margin-top: 16px;
		}
	}
	&__nav {
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			list-style: none;
			a {
				font-family: $encode-font;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				color: $secondary-color;
				margin: 0 25px;
				text-decoration: none;
				white-space: nowrap;
				&:hover {
					cursor: pointer;
					color: $primary-color;
				}
			}
		}
		&-dropdown {
			position: relative;
			&-about {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
			}
			&-list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 67px;
				left: 0px;
				width: 200px;
				z-index: 2;
				background-color: #000000cc;
				a {
					padding: 5px 0;
				}
			}
			&-button {
				background-color: transparent;
				border: none;
				margin-left: 8px;
				cursor: pointer;
				&:hover > &-list {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&__social {
		display: flex;
		flex-direction: row;
		margin-bottom: 18px;
		&--item {
			margin: 0 20px;
			cursor: pointer;
			width: 24px;
			height: 24px;
		}
	}
	&__button {
		background: $primary-color;
		border-radius: 2px 25px 2px 15px;
		padding: 10px 53px;
		font-family: $encode-font;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		white-space: nowrap;
		text-align: center;
		margin: 0 0 18px 40px;
	}
	&__mobilenav {
		display: none;
	}
}

@media screen and (max-width: 1250px) {
	.header {
		&__wrapper {
			padding: 0 30px;
		}
		&__logo {
			margin-top: 18px;
		}
		&__nav {
			display: none;
		}
		&__button {
			display: none;
		}
		&__mobilenav {
			display: block;
		}
	}

	.mobilenav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		background-color: #0a0a0a;
		padding-bottom: 15px;
		z-index: 100;
		overflow: hidden;
		&__burger-icon {
			display: block;
			cursor: pointer;
		}
		&__close-icon {
			margin: 34px 0 25px 0;
		}
		&__nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			&-list {
				list-style: none;
				text-align: center;
				margin-left: -32px;
				li {
					margin-top: 30px;
					a {
						font-family: $secondary-color;
						font-style: normal;
						font-weight: 500;
						font-size: 24px;
						line-height: 30px;
						text-transform: uppercase;
						color: $secondary-color;
						text-decoration: none;
						text-align: center;
						&:hover {
							cursor: pointer;
							color: $primary-color;
						}
					}
				}
				&-sublist {
					list-style: none;
					text-align: center;
					margin-left: -32px;
					li {
						margin-top: 5px;
						margin-bottom: 13px;
						a {
							text-decoration: none;
							font-family: $secondary-color;
							font-style: normal;
							font-weight: 500;
							font-size: 16px;
							line-height: 20px;
							color: rgba(255, 255, 255, 0.6);
						}
					}
				}
			}
			&-button {
				background: $primary-color;
				border-radius: 2px 25px 2px 15px;
				padding: 10px 53px;
				font-family: $encode-font;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				white-space: nowrap;
				text-align: center;
				margin: 24px 0 20px 0;
			}
		}
	}
}
