@import "./variables.scss";
@import "../components/modal/modal.scss";
@import "../components/header/header.scss";
@import "../components//main-slider//main-slider.scss";
@import "../components//services/services.scss";
@import "../components/about/about.scss";
@import "../components/experiences/experiences.scss";
@import "../components/setUp/setUp.scss";
@import "../components/gallery/gallery.scss";
@import "../components/footer/footer.scss";

section {
	padding: 70px 30px 0 30px;
	margin-top: -2px;
}

.section__title {
	font-family: $prompt-font;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 73px;
	color: $primary-color;
}
html {
	scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
	.section__title {
		font-size: 30px;
		line-height: 45px;
	}
}
